@import "styles";

main{
    height: 100%;
}

.description{
    font-size: 1.2rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 8vh;
    color: white; 
    h1{
        text-shadow: 5px 10px 15px $main-color;
    }  
}

#avatar-section{
    margin-top: 0;
    text-align: center;
    size: 100%;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    flex-basis: auto;
}

.tile{
    img{width:180px;}
    width:calc(180px + 4%);
    max-width: calc(180px + 5%);
    
    position: relative;
    border: solid 2px $main-color;
    border-radius: 5%;
    margin: 5px 10px;
    padding:15px;
}

.overlay {
    position: absolute; 
    top:0;
    bottom: 0; 
    right:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.7); 
    width: 100%;
    height:100%;
    transition: .7s ease;
    opacity:0;
    overflow: hidden;
    border-radius:5%;
}

.Name{
    color: white;
    margin:0;
    padding: 0;
}

.text{
    font-size: 1rem;
    /*background-color: rgba(0, 0, 0, 0); /* 0 Alpha για διάφανο */
    color:white;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 10% 6%;
    hr{
        width:80%;
        color: $main-color;
        background-color: $main-color;
        border: none;
        border-radius: 100px;
        height: 3px;
        margin:15px;
    }
    .Name_mobile{
        display: none;
    }
    h4{
        font-size: 110%;
        margin-top: 10%;
        margin-bottom: 0;
        transition: 1s ease-out;
    }
    p{
        margin:0;
    }
}

.mobile_hr{
    display: none;
}


@media (hover: hover){
    .tile:hover .overlay {
        opacity: 1;
    }

    .tile:hover .Name{
        opacity:0;
    }
    
    .tile:hover .text>h4{
        margin-top: 0;
    }
}

@media screen and (max-width: 1200px) {
    .tile {
      margin:2% 5%;
    }
}

.invitation{
    margin: 40px 0;
    h3{
        margin:0;
    }
    a{
        color: white;
    }
}

/*mobile - responsive*/
@media screen and (max-width: 950px){
    .description{
        font-size: 120%;
    }

    .tile{
        img{width: 250px;;}
        width:calc(250px + 4%);
        max-width: calc(250px + 5%);
        
        position: relative;
        border: solid 2px $main-color;
        border-radius: 5%;
        margin: 5px 10px;
        padding:15px;
    }

    .text {
        .mobile_hr{
            display: block;
        }
        p{
            margin: 0;
        }
        .Name_mobile{
            display: block;
            margin: 0;
        }
        h4{
            font-size: 90%;
            margin-top: 0;
        }
        hr{
            width:70%;
            height: 2px;
            margin:10px;
        }
    }

    .Name{
        display: none;
    }

    .overlay {
        opacity:1;
    }
}

