@import "styles";

.logo{
    img{
        width: 200px;
        height: auto;
    }
}

.form-section{
    

    background-color: rgb(18, 18, 18);
    h2{
        margin: 0;
    }
    p{
        margin-top: 5px;
        a{
            color:$main-color;
        }
        a:hover{
            color: white;
        }
    }
    width:400px;
    margin: 0;
    border: 2px solid $main-color;
    padding:20px 0;
    border-radius: 1px;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form_item{
    margin: 15px;
}

.btn{
    outline: none; 
    cursor: pointer;
    padding: 11px 13px 10px 13px;

    @include side_btn();
}

.btn:hover{
    @include side_btn_hover();
}

.field{
    height: 30px;
    width:50%;
    background-color: rgb(25, 25, 25);
    border: 0.5px solid rgba(255,255,255,0.4);
    outline: none; 
    border-radius: 1px;
    color:$main-color;
    padding:3px;
    font-size: 1rem;
    transition: 0.3s ease;
}

.field:focus{
    border-color: $main-color;
    width:52%;
}

.label-icon{
    margin-right: 7px;
}

.password-item{
    margin-bottom: 5px;
    position: relative;
}

.password-item-signup{
    position: relative;
}

.show_pass{
    position: absolute;
    right:83px;
    top:7px;
    a{
        color: $main-color;
    }
    a:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

.show_pass_signup{
    position: absolute;
    right:120px;
    top:7px;
    a{
        color: $main-color;
    }
    a:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

.pass-recovery{
    margin-top:1px;
    margin-bottom: 25px;
    a{
        margin: 0;
        color: $main-color;
        font-size: 0.8rem;
    }
    a:hover{
        color: white;
    }
} 

.signup-section{
    z-index: 9;
    background-color: rgb(18, 18, 18);
    h2{
        margin: 0;
    }
    .close-btn{
        position: absolute;
        top:15px;
        right:20px;
        font-size: 1.4rem;
        color: $main-color;
        transition: .1s ease;
    }
    .close-btn:hover{
        opacity: 0.7;
    }
    width:500px;
    margin: 0;
    border: 2px solid $main-color;
    padding:30px 0;
    border-radius: 1px;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    ::placeholder { 
        color: $main-color;
        opacity: 0.6; 
      }
      :-ms-input-placeholder { 
        color: $main-color;
      }
      ::-ms-input-placeholder { 
        color: $main-color;
      }
}

.signup-background{
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 9; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: $social-shadow;
}

@media screen and (max-width:950px) {

    main{
        height: 90vh;
    }

    .form-section{
        a{
            text-underline-offset: 2px;
        }
        width:280px;
        top:auto;
        left:auto;
        -ms-transform: none;
        transform: none;
        position: relative;
        margin: 30px auto;
    }

    .logo{
        margin-top: 1%;
        img{
            width: 180px;
            height: auto;
        }
    }

    .form_item{
        margin: 20px;
    }

    .password-item{
        margin-bottom: 5px;
    }

    .show_pass{
        right:39px;
        top:6px;
    }

    .show_pass_signup{
        right:55px;
        top:7px;
    }

    .pass-recovery{
        margin-top:1px;
        margin-bottom: 25px;
    }    

    .field{
        height: 30px;
        width:60%;
    }
    
    .field:focus{
        border-color: $main-color;
        width:62%;
    }

    .signup-section{
        .close-btn{
            position: absolute;
            top:15px;
            right:20px;
            font-size: 1.4rem;
            color: $main-color;
            transition: .1s ease;
        }
        width:300px;
        padding:20px 0;
    }
}